
</div></main><footer><div class="container footer">
<div>© <%= new Date().getFullYear() %> VoltStore. All rights reserved.</div></div></footer>
<script src="/js/main.js" defer></script></body></html>
